<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id = "app">
      <div id="headline">
        <h1>Travel App</h1>
      </div><!--headline-->

      <div id="input">
        <label for="city">City Destination</label>
        <input type="text" id="city" placeholder="London">
        <label for="date">Departing</label>
        <input class= "myInput" id="date" placeholder="date"></input>
        <button id="go" type = "submit">Go!</button>
      </div><!--input-->

      <div id="results">
        <div id="results-picture">
        </div>
        <div id="results-info">
          <h3 id="results-city"></h3>
          <p id="results-weather"></p>
        </div>
      </div><!--results-->

    </div><!--app-->

  </body>
</html>
